body {
    margin: 0;
}

.top {
    background-color: #777;
    height: 90;
}

.logo {
    width: 90;
    float: left;
    margin-right: 30;
}

.shop-name {
    font-size: 36;
    color: white;
    display: table-cell;
    float: left;
}

ul li {
    list-style: none;
}

.tool-bar {
    float: right;
    margin-top: 33;
    margin-right: 80;
}

.tool-bar a {
    color: white;
    font-size: 20;
    text-decoration: none;
}

.tool-bar a:hover {
    color: orange;
}

.tool-bar li {
    float: left;
    padding: 0px 30px;
}

.mode-choose a {
    color: black;
}

.mid {
    height: 2400;
    float: left;
    background-color: white;
}

.finding {
    width: 16%;
    height: 800;
    background-color: #999;
    float: left;
}

.finding a {
    text-decoration: none;
    color: black;
    font-size: 20;
}

.finding a:hover {
    color: red;
}

.finding ul {
    margin-top: 200;
}

.content-wrapped {
    margin-left: 270px;
    width: 70%;
}

.item span {
    font-weight: 600;
}

.item {
    float: left;
    width: 20%;
    margin-top: 25px;
    margin-left: 25px;
}

.item div {
    font-weight: 600;
}

.item:hover {
    color: blue;
    opacity: 0.5;
}

.item img {
    width: 100%;
    height: 170px;
}

.bottom {
    background-color: #333;
}

.note {
    width: 20%;
    color: white;
    font-size: 30;
    font-weight: 300;
    margin-left: 40;
    margin-top: 30;
    float: left;
}

.contact-info {
    float: left;
    margin-left: 40 ;
    margin-right: 120px;
}

.contact {
    margin-left: 20;
    color: white;
    font-size: large;
}

.contact a {
    color: yellow;
    text-decoration: none;
}

.contact:hover {
    background-color: #777;
}

.address {
    font-size: large;
    margin-left: 100;
    color: white;
}