body {
    margin: 0px;
}

ul li {
    list-style: none;
}

.top {
    background-color: black;
    height: 90px;
}

.logo {
    width: 90px;
    float: left;
    margin-right: 30px;
}

.shop-name {
    font-size: 36;
    color: white;
    vertical-align: middle;
    float: left;
}

.return-button a img {
    width: 55px;
    height: 70px;
    margin-top: 15px;
}

.menu-bar {
    margin-left: 1000px;
}

.menu-bar tr td a {
    text-decoration: none;
}

.menu {
    margin-left: 15px;
    height: 36px;   
    float: right;
    font-size: 25;
    color: white;
    display: table-cell;
    float: left;
}

.menu-bar tr td p {
    color: red;
}

.mid {
    height: 2200px;
    float: left;
    background-color: white;
}

.search {
    margin-top: 20px;
}

.search-box {
    width: 172px;
}

.search-button {
    float: right;
}

.finding {
    width: 18%;
    height: 800px;
    background-color: black;
    float: left;
}

.finding a {
    text-decoration: none;
    color: white;
    font-size: 20;
}

.finding a:hover {
    color: red;
}

.finding table {
    margin-top: 30px;
    margin-left: 40px;
    
}

.line-effect {
    width: 0px;
    height: 0px;
    background-color: red;
    position: fixed;
    pointer-events: none;
}

.content-wrapped {
    margin-left: 330px;
    width: 70%;
}

.item {
    float: left;
    width: 20%;
    margin-top: 25px;
    margin-left: 25px;
}

.item a span {
    font-weight: 900;
}

.item img {
    width: 100%;
    height: 170px;
}

.item a {
    text-decoration: none;
    color: black;
}

.item:hover img {
    opacity: 0.5;
}

.item:hover b {
    color: blue;
}

.item:hover strong {
    color: blue;
}

.item:hover span {
    color: blue;
}

.bottom {
    background-color: black;
}

.note {
    width: 20%;
    color: white;
    font-size: 30;
    font-weight: 300;
    margin-left: 40px;
    margin-top: 30px;
    float: left;
}

.contact-info {
    float: left;
    margin-left: 40px;
    margin-right: 120px;
}

.contact {
    margin-left: 20;
    color: white;
    font-size: large;
}

.contact a {
    color: yellow;
    text-decoration: none;
}

.contact:hover {
    background-color: #777;
}

.address {
    font-size: large;
    margin-left: 100px;
    color: white;
}

.wholesale-note {
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 40;
}

.wholesale-confirm {
    margin-left: 150px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.wholesale-customer {
    float: left;
    margin-top: 80px;
}

.wholesale-buying {
    width: 100px;
}

.wholesale-mid {
    height: 400px;
}

.retail-mid {
    height: 400px;
    margin-top: 60px;
    margin-left: 300px;
}

.retail-left {
    float: left;
    margin-right: 100px;
    width: 200px;
}

.retail-left img {
    border: black 2px solid;
}

.retail-right {
    margin-top: 20px;
}

#retail-number {
    width: 177px;
}

#retail-idea {
    width: 300px;
    height: 40px;
}

#product {
    margin-left: 2px;
}

#cost {
    margin-left: 75px;
}